
/* 

===== table of contents =====

- global styles
	colors
	containers
	fonts

- layout
	header background
	menu
	header text
	cta
	footer

- components
	buttons
	menu 
	post it ==course
	photo with layer ==campus
	stabdard photo ==facilities
	evaluation note ==testimonial
	presentation and photo ==about us
		icons

- media query




*/



/*	=============
	global styles
	=============  */



*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}


/*	===== colors */


:root {
	--textColor: #777;
	--backgroundTextColor: #fff;
	--backgroundSmallThingsCollor: #f44336;
	--backgroundColumColor: #fff3f3;
}


/*	===== containers */


.theme-spacing{
	width: 80%;
	margin: 10% auto auto auto; 
	text-align: center;
}

.item-line{
	display: flex;
	justify-content: space-between;
}


/*	===== fonts */


.header-title{
	font-size: 4rem;
	margin: 2.5rem auto;
}

.sub-header-title{
	margin-top: 7rem;
}

.theme-title{
	font-size: 2rem;
	font-weight: 600;
}

.item-line__item-title{
	margin: 10px 0;
	font-size: 1.4rem;
	text-align: center;
	font-weight: 600;
}

.footer-title{
	margin-bottom: 25px;
	margin-top: 20px;
	font-size: 1.4rem;
	font-weight: 600;
}

p{
	padding: 10px;
	line-height: 175%; 
	color: var(--textColor);
	font-size: 1rem;
	font-weight: 300;
}





/*	=============
	layout
	=============  */



/*	===== header background */


.header{
	position: relative;	
	margin-top: 0; 
	width: 100%; 
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/banner.png);
	background-position: center;
	background-size: cover;
}

.sub-header{
	width: 100%; 
	height: 50vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: var(--backgroundTextColor);
}

/*	===== menu */


nav{
	display: flex;
	justify-content: space-between;
	padding: 2% 6%; 
	text-align: center;
} 

.nav-img-logo{ 
	width: 150px; 
}

.nav-links{
	flex: 1; 
	text-align: right;
}

.nav-links li{ 
	display: inline-block; 
	position: relative;
	padding: 8px 12px;
	list-style: none; 
}

.nav-links a{
	color: var(--backgroundTextColor);
	font-size: 0.9rem;
	text-decoration: none; 
}

nav .fa{
	display: none;
}


/*	===== header text */


.header-text-box{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%; 
	color: var(--backgroundTextColor);
	text-align: center;
	transform: translate(-50%,-50%);
}

.header-text-box p{
	margin: 10px 0 40px;
	color: var(--backgroundTextColor);
	font-size: 1.1rem;
}


/*	===== cta */


.cta{
	margin-top: 15%;
	padding: 8% 0; 
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/banner2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.cta-title{
	margin-bottom: 7%; 
	padding: 0;
	color: var(--backgroundTextColor);
}


/*	===== footer */


.footer{
	margin-top: 15%;
	width: 100%;
	text-align: center;
}



/*	=============
	components
	=============  */



/*	===== buttons */


.hero-btn{
	display: inline-block;
	position: relative;
	padding: 12px 34px;
	background: transparent;
	font-size: 0.9rem;
	color: var(--backgroundTextColor);
	border: 1px solid var(--backgroundTextColor);
	cursor: pointer;
	text-decoration: none;
}

.hero-btn:hover{
	background: var(--backgroundSmallThingsCollor);
	border: 1px solid var(--backgroundSmallThingsCollor);
	transition: 1s;
}


.hero-btn--red{
	border: 1px solid var(--backgroundSmallThingsCollor);
	background: transparent;
	color: var(--backgroundSmallThingsCollor);
}

.hero-btn--red:hover{
	color: var(--backgroundTextColor);
}

/*	menu  */


.nav-links li::after{ 
	display: block;
	margin: auto;
	width: 0%;
	height: 2px;
	background: var(--backgroundSmallThingsCollor);
	content: ''; 
	transition: 0.5s;
}

.nav-links li:hover::after{
	width: 100%;
}


/*	===== post it ==course */


.item-line__course-post-it{
	flex-basis: 31%;
	margin-top: 4%;
	padding: 20px 12px;
	box-sizing: border-box; 
	background: var(--backgroundColumColor);
	border-radius: 10px;
	transition: 0.5s;
}

.item-line__course-post-it:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/*	===== photo-with-layer ==campus */


.item-line__photo-with-layer{
	flex-basis: 31%;
	position: relative;
	overflow: hidden;
	margin-top: 4%;	
	border-radius: 10px;
}

.item-line__photo-with-layer img{
	display: block;
	width: 100%;
}


.layer-application{
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	height: 100%;
	width: 100%;
	transition: 0.5s;
}

.layer-application:hover{
	background: rgba(226,0,0,0.7);
}

.layer-title{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--backgroundTextColor);
	transform: translateX(-50%);
	opacity: 0;
	transition: 0.5s;
}

.layer-application:hover .layer-title{
	bottom: 49%;
	opacity: 1;
}


/*	===== standard photo ==facilities */


.item-line__standard-photo{
	flex-basis: 31%;
	margin-top: 4%;
	text-align: left; 
	border-radius: 10px;
}

.item-line__standard-photo img{
	width: 100%;
	border-radius: 10px;
}

.item-line__standard-photo p{
	padding: 0;
}

.item-line__standard-photo .item-line__item-title{
	margin: 0 auto;
	text-align: left;
}


/*	===== evaluation note ==testimonial */


.item-line__evaluation-note{
	display: flex;
	flex-basis: 44%;
	margin-top: 4%;
	padding: 25px;/*joins the scraps in narrow canvases*/
	background: var(--backgroundColumColor);
	text-align: left;
	cursor: pointer;
	border-radius: 10px;
}

.item-line__evaluation-note img{
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}

#space-between-messages{ /*separates the scraps in narrow screens*/
	margin-right: 15px;
}

.item-line__evaluation-note p{
	padding: 0;
}

.item-line__evaluation-note .item-line__item-title{
	margin-top: 15px;
	text-align: left;
}

.item-line__evaluation-note .fa{
	color: var(--backgroundSmallThingsCollor);
}

/*	===== presentation and photo ==about us */

.item-line__presentation-and-photo{
	flex-basis: 48%;
	padding: 30px 2px;
	text-align: left;
}

.item-line__presentation-and-photo img{
	width: 100%;
}

.item-line__presentation-and-photo h1{
	padding-top: 0;
}

.item-line__presentation-and-photo p{
	padding: 15px 0 25px;
}

/*	===== icons */	


.icons .fa{ 
	margin: 0 13px; 
	padding: 18px 0; 
	color: var(--backgroundSmallThingsCollor);
	cursor: pointer;
}

.fa-heart-o{
	color: var(--backgroundSmallThingsCollor);
}



/*	=============
	media query
	=============  */
	


@media(max-width: 700px){

	.header-title{
		font-size: 1.5rem;
		margin: 0.8rem auto;
	}

	.theme-title{
		font-size: 1.4rem;
	}

	.item-line__item-title{
		font-size: 1.2rem;
	}

	.footer-title{
		font-size: 1rem;
	}

	p{
		line-height: 130%; 
		font-size: 0.9rem;
	}

	.theme-spacing{
		margin-top: 70px;	
	}

	.item-line{
		flex-direction: column;
	}

	.nav-links li{
		display: block;
	}
	
	.nav-links{
		position: absolute;
		background: var(--backgroundSmallThingsCollor);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;		
		transition: 1s;
		z-index: 2;
	}
	
	nav .fa{
		display: block; 
		margin: 10px;
		color: var(--backgroundTextColor);
		font-size: 1.5rem;
		cursor: pointer;
	}
	
	.nav-links ul{
		padding: 30px;
	}
	
	.header-text-box p{
		font-size: 0.8rem;
	}
	
	.item-line__evaluation-note img{	
		margin-left: 0px;
		margin-right: 15px;		
	}

	#space-between-messages{
		margin-right: 0px;
	}

	.cta{
		margin-top: 80px;
	}

	.cta-title{
		font-size: 0.9rem;
	}
	
	.hero-btn{
		padding: 7px 28px;
		font-size: 0.6rem;
	}

	.sub-header-title{
		margin-top: 4rem;
	}

}