*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header{
	width: 100%; /*for the image to occupy 100% of the width of the page*/
	min-height: 100vh; /*Min height 100vh means the element should occupy the web browser viewport height. This is always 100 percent of the web browser's viewport height. If there is more content, the element will stretch more than the viewport's height*/
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/banner.png);/*to work the photo with css with gradient*/
	background-position: center;/*to center the image*/
	background-size: cover;/*Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
	position: relative;	/*The element is positioned relative to its normal position, so "left:20px" adds 20 pixels to the element's LEFT position

	*/
}
nav{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 2% 6%; /*Espaço interno da nav pai*/
}
nav img{
	width: 150px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none; /*Tira as bolinhas da lista*/
	display: inline-block; /*Sair da lista da ul e ficar lado a lado*/	
	padding: 8px 12px; /*Espaço entre os links*/
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none; /*Tirar underline do link*/
	font-size: 13px;
}
.nav-links ul li::after{ /*Será criado apois o conteudo.. Serve para deixar a marcação mais limpa... pois sem ele seria necessario criar uma div e estilizar ela*/
	content: ''; /*Cria o Pseudo Element seja criado*/
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
	/*Gera efeitos de tempo de execução
Segue a ordem (Apos os dois pontos são exemplos)
transition-property: all; 
transition-duration: 2s;
transition-timing-function: ease-out;
transition-delay: 0s;
é igual a 
transition: all 2s ease-out 0;
	*/
}
.nav-links ul li:hover::after{/*Acredito que sem este after, o hover aplicaria o efeito dele sem que o after do codigo acima fosse aplicado...*/
	width: 100%;
}
.text-box{
	width: 90%; /*Largura da Div em relação a tela*/
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center; /*Div ocupara o centro da tela*/
	transform: translate(-50%,-50%);/*Acredito que seja um macete de centralização usando position absolute com transform translate.. pq sem o transform os valores seriam top 32% left 5%*/
	
}
.text-box h1{
	font-size: 62px;
}
.text-box p{
	margin: 10px 0 40px;/*afastar um pouco do h1 e mais do botao*/
	font-size: 14px;
	color: #fff;
}
.hero-btn{
	cursor: pointer;
	display: inline-block;
	background: transparent;
	position: relative;/*não mudou nada..*/
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	
}
.hero-btn:hover{
	background: #f44336;
	border: 1px solid #f44336;
	transition: 1s;
}

nav .fa{
	display: none; /*Voce não quer as 3 barrinhas no menu de tela grande de pc...*/
}

@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;		
		transition: 1s;
		z-index: 2;/*Neste caso, sem o z index maior, o menu ficaria atras do conteudo escrito no meio da pagina, uma vez que foi escrito primeiro.*/
	}
	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
}

/*------- course -------*/

.course{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px; /*vertical distance between two lines of type, measured from the baseline of one line of type to the baseline of the next.*/
	padding: 10px;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.course-col{
	flex-basis: 31%;/*Dita o tamanho do flex filho*/
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;/*????????*/
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.course-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);/*?????*/
}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
}

/*------ campus ------*/

.campus{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.campus-col{
	flex-basis: 32%;	
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;/*??????*/
}
.campus-col img{
	width: 100%;/*??????*/
	display: block;/*Foi o suficiente para deixar responsivo????????????????*/
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(226,0,0,0.7);
}
.layer h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);/*??????????*/
	position: absolute;
	opacity: 0;/*???????*/
	transition: 0.5s;
}
.layer:hover h3{
	bottom: 49%;
	opacity: 1;
}

/*------ Facilities -------*/

.facilities{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.facilities-col{
	flex-basis: 31%;
	border-radius: 10px;/*???? pq esse e os 2 codigos a baixo????*/
	margin-bottom: 5%;
	text-align: left;
}
.facilities-col img{
	width: 100%;
	border-radius: 10px;
}
.facilities-col p{
	padding: 0;/*???precisava desse padding?*/
}
.facilities-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}

/*------ Testimonials -------*/

.testimonials{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.testimonial-col{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #fff3f3;
	padding: 25px;
	cursor: pointer;
	display: flex;/*????????*/
}
.testimonial-col img{
	height: 40px;
	margin-left: 5px;/*??? como ele posicionou essa imagem???*/
	margin-right: 30px;
	border-radius: 50%;/*Foto perfil redonda*/
}
.testimonial-col p{
	padding: 0;
}
.testimonial-col h3{
	margin-top: 15px;
	text-align: left;
}
.testimonial-col .fa{
	color: #f44336;
}
@media(max-width: 700px){
	.testimonial-col img{	
		margin-left: 0px;/*Reposicionou a imagem no responsivo*/
		margin-right: 15px;		
	}
}

/*------ call to action ------*/

.cta{
	margin: 100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/banner2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.cta h1{
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}
@media(max-width: 700px){
	.cta h1{
		font-size: 24px;
	}
}

/*------ footer ------*/

.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
.icons .fa{
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}
.fa-heart-o{
	color: #f44336;
}